.header {
	width: 100%;
	heigth: 200px;
	top: 0;
	background-color: gray;
	clear:both;
}

.bodyContent {
	width:100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: gray;
	clear: both;
}

.footer {
	background-color: gray;
	width: 100%;
	heigth: 50px;
	position: absolute;
	bottom: 0;
	clear: both;
}

table {
		background-color: gray;
}

