html{
	background-color: lightgray
}

.header {
	width: 100%;
	heigth: 200px;
	top: 0;
	clear:right;
}

.bodyContent {
	width:100%;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;
}

.footer {
	width: 100%;
	heigth: 50px;
	position: absolute;
	bottom: 0;
	clear: left;
}

table {
		background-color: lightgray;
}

